.App {
  text-align: center;
  padding: 3% 10%;
  background-color: #f5f5f5;
}

.App * {
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
  line-height: 1.6;
}

.address {
  font: 700 16px 'Nunito Sans', sans-serif;
}

.city {
  width: 250px;
}

.CitySearch {
  display: flex;
  flex-direction: column;
}

.details-btn {
  float: right;
  margin-top: 10px;
  margin-right: 10px;
  white-space: nowrap;
  padding: 5px 8px;
  outline: none;
  border: 1px solid #ccc;
  cursor: pointer;
  background-color: transparent;
  font-size: 16px;
  font-family: 'Nunito Sans', sans-serif;
  color:  rgb(143, 79, 79);
}

.details-btn:hover {
  border: 1.5px solid rgb(143, 79, 79);  
  color: #000;
}

.Event {
  padding: 15px 15px 60px;
  margin-bottom: 10px;
  text-align: left;
  border: 1px solid #ccc;
  position: relative;
  background-color: #fff;
}

.eventName {
  font: 700 18px 'Nunito Sans', sans-serif;
}

.groupName {
  text-transform: uppercase;
  font-size: 14px;
}

.going {
  font-style: italic;
}

.hideDetails {
  display: none;
}

input[type="text"], input[type="number"] {
  padding: 8px 6px 8px 10px;
  outline: none;
  border: 1px solid #ccc;
  font-size: 14px;
  line-height: 20px;
  align-self: center;
  height: 38px;
}

input[type="text"]:hover,
input[type="text"]:focus,
input[type="number"]:hover,
input[type="number"]:focus {
  border-color:  rgb(143, 79, 79);
}

.number-of-events {
  width: 80px;
  margin: 20px 0 30px;
  text-align: right;
}

p {
  margin: 5px 0;
}

.suggestions {
  width: 250px;
  align-self: center;
  margin: 0;
  font-size: 14px;
}

.suggestions > li {
  text-align: left;
  padding: 8px 6px 8px 10px;
  background-color: #eee;
  cursor: default;
}

.suggestions > li:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.suggestions > li:hover {
  background-color: #fff;
  color:  rgb(143, 79, 79)
}

ul {
  padding: 0;
  list-style: none;
}

@media all and (max-width: 700px) {
  .EventList {
    flex-direction: column;
  }

  .App {
    padding: 25px 0px;
  }
}
